@import "tailwindcss";

html, body {
  touch-action: manipulation;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.webkit-backdrop-blur-sm {
  -webkit-backdrop-filter: blur(4px);
}

.webkit-backdrop-blur-md {
  -webkit-backdrop-filter: blur(12px);
}
